* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 50%;
  margin: auto;
  margin-top: 48px;
}

#tasks-list {
  list-style-type: none;
  padding: 0;
}

.no-tasks {
  text-align: center;
  margin-top: 24px;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 750px) {
  .App {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .App {
    width: 100%;
  }
}
